@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('fonts/ProximaNovaA-Light.woff') format('woff');
    
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('fonts/ProximaNovaA-Bold.woff') format('woff');
   
}
@font-face {
    font-family: 'BlackJack';
    src:  url('fonts/BlackJackRegular.woff') format('woff');
}

* { margin: 0; padding: 0; outline: none; }

body { font-family:'Proxima Nova Alt Rg';  font-weight: bold;
    font-style: normal; } 

.container{ width:940px; padding: 0 10px; margin: 0 auto; }
.btn { text-decoration: none; border: 2px solid #fff; padding: 17px 28px; font-size: 15px; line-height: 19px; text-transform: uppercase; }

/*Header*/
.header { background: url(images/background-header.jpg); color: #fff; max-height: 650px; }
.logo { background: url(images/p-logo.png) no-repeat 0 0; width: 100px; height: 100px; font-size: 0; line-height: 0;
text-indent: -100%; border-bottom: 3px solid #0da9e5; box-shadow: #27b0e6 14px 11px; }
.header .container h1{ text-align: right; font-size: 70px; line-height: 74px; font-family: 'BlackJack'; font-weight: normal; font-style: normal; }
.header .container p {font-size: 35px; line-height: 39px; font-family: 'Proxima Nova Alt Lt'; font-weight: 300; font-style: normal; text-align: right;margin-top: 45px; }
.header .container p strong { font-family: 'Proxima Nova Alt Rg';  font-weight: bold;  font-style: italic;}
.header .container .menu { float: right; position: relative; top: -80px; font-size: 0; line-height: 0; text-indent: -999px; border: 0; background-color: transparent;}
.header .container .menu .bar1, .header .container .menu .bar2{ background-color: #fff; width: 30px; height: 4px; border-radius: 3px; margin-bottom: 2px; display: block; position: relative;}
.header .container .menu .bar1:before, .header .container .menu .bar2:after{
    content: ''; background-color: #fff; width: 30px; height: 4px; display: block; border-radius: 3px; position: absolute; 
}
.header .container .menu .bar1:before{ top: -6px; right: 0; }
.header .container .menu .bar2:after{ bottom: -6px; right: 0; }
.header .container .img-holder.phone {background:url(images/phone-image.png) no-repeat 0 0; width: 227px; height:268px;position: relative; left: 70px; bottom: 0; margin-top: 67px; font-size: 0; line-height: 0; text-indent: -999px; }
.header .container .btn { color: #fff; padding-right: 57px; }
.header .container .btn.right-aligned {float: right; margin-top: 40px; margin-right: 10px; }
.header .container .btn .logo-dl { position: relative; font-size: 0; line-height: 0; text-indent: -100%;  }
.header .container .btn .logo-dl:after { content: ''; background: url(images/dl-logo.png) no-repeat 0 0; width: 18px; height: 13px; display: block; position: absolute; top: -5px; left: 11px; transform: translateY(-50%); }
/*Header*/

/*Main*/
#first { width: 53.8%; background-color: #f4f4f4; }
.main { background-color: #f4f4f4;  }
.main .container h2 { font-size: 40px; line-height: 44px; font-family: 'Proxima Nova Alt Lt';  color: #545454; padding-top: 140px;  }
.main .container p { font-family: 'Proxima Nova Alt Lt'; font-weight: 300; font-size: 16px; line-height: 20px; color: #7e7e7e; margin-top: 30px; }
.main .container p.quote{ font-style: italic; position: relative; padding-left: 17px; }
.main .container p.quote:before { content: ''; width: 7px; height: 68px; top: 0; left: 0; display: block; position: absolute;background-color: #4eacdd; }
.main .img-holder.tablet {background: url(images/tablet-image.png) no-repeat 0 0; width: 338px; height: 449px; float: right; margin-top: 160px;}
.main .container .btn.green { color: #21b395; border-color: #21b395; position: relative; top: 70px; left: 0; padding-right: 64px; }
.main .container .btn .logo-mail{ position: relative; font-size: 0; line-height: 0; text-indent: -999px; }
.main .container .btn .logo-mail:after { content: ''; background: url(images/mail-icon.png) no-repeat 0 0; width: 15px; height: 13px; top: -5px; right: -32px; transform: translateY(-50%); display: block; position: absolute; }
#second{}
#third{}
.main .container .btn.pink { color: #ea4c89; border-color: #ea4c89; position: relative; padding-right: 60px; }
.main .container .btn.pink:after { content: ''; display: block; background: url(images/dribble-logo.png) no-repeat 0 0; width: 13px; height: 13px; top: 50%; right: 32px; position: absolute; transform: translateY(-50%);  }
/*Main*/


/*Footer*/
.footer .container { height: 102px; background-color: #fff; }
.footer .container p{  font-family: 'Proxima Nova Rg'; font-size: 12px; line-height: 16px; font-style: italic; text-align: center; color: #545454; padding-top: 46px;}
.footer .container strong { font-weight: normal; font-style: normal; color: #6dc5ea; }
}
.footer .container a { font-size: 0; line-height: 0; text-indent: -999px; text-decoration: none; }
/*Footer*/